/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #241d1c;
  color: #f6f3e3;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.visualy-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1216px;
  padding: 0 48px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    padding: 0 24px;
  }
}

/* 
.navigation__item {

}

.navigation__link {

}



.hero {
}
.hero__title {
}
.header__logo {
}

.navigation {
}
.navigation__list {
}
.navigation__item {
}
.navigation__link {
}
.price__link {
}

.hero__slider {
}
.slider__container {
}
.slider__list {
}
.slider__item {
}
.slider__img {
}
.slider__arrow {
}
.slider__arrow_left {
}
.slider__arrow_right {
}
.price {
}
.price__title {
}
.price__tagline {
}
.price__wrapper-content {
}
.price__content {
}
.price__list {
}
.price__item {
}
.price__item-title {
}
.price__item-count {
}
.about {
}
.about__title {
}
.about__discription {
}
.about__list {
}
.about__item {
}
.about__item-title {
}
.about__item-discription {
}
.reserve {
}
.reserve__title {
}
.reserve__list {
}
.reserve__item {
}
.reserve__form {
}
.reserve__form-container {
}
.reserve__fieldset {
}
.reserve__legend {
}
.radio {
}
.radio__input {
}
.radio__label {
}
.radio__label-spec {
}
.reserve__fieldset-sub {
}
.reserve__btn {
}
.footer {
}
.footer__logo {
}
.footer__navigation {
}
.footer__list {
}
.footer__item {
}
.footer__discription {
}
 */
